@{
    ViewBag.Title = "Profil Bilgilerini Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-success">Profil Güncelle</h2>
<p>Profil bilgilerini buradan düzenleyebilirsin.</p>
