@{
    ViewBag.Title = "Hata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger mt-5 text-center">
    <h4>Üzgünüz, bir hata oluştu.</h4>
    <p>Lütfen daha sonra tekrar deneyiniz.</p>
</div>
